@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSans";
  src: url("../fonts/dana-medium.woff");
  font-style: normal;
  font-display: swap;

  /* unicode-range: U+0020-007F; */
}

body {
  -webkit-overflow-scrolling: touch;
}

html,
body {
  overflow-x: hidden;
}

* {
  font-family: "Roboto", "IranSans";
}
* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #f9f5ff #112476;
}

*::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

@media only screen and (max-width: 767px) {
  *::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #112476;
  border: 0px none #112476;
}
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}
::-webkit-scrollbar-thumb:active {
  background: #112476;
}
::-webkit-scrollbar-track {
  background: #f9f5ff;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
  background: #f9f5ff;
}
::-webkit-scrollbar-track:active {
  background: #f9f5ff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
